SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,*.railway.app
DATABASE_URL=postgres://user:password@host:port/dbname
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://*.railway.app

# Superuser Initial Config
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=lcde_@hotmail.com
DJANGO_SUPERUSER_PASSWORD=Finance@2026
